<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <div class="footer-brand">
        <img src="assets/logo.png" alt="FlatBuddy" class="footer-logo"/>
        <h4>FlatBuddy</h4>
      </div>
      <p>{{ 'foot.tag' | t }}</p>
    </div>
    <div class="footer-col">
      <h5>{{ 'foot.discover' | t }}</h5>
      <ul>
        <li><a href="/roommates">{{ 'nav.roommates' | t }}</a></li>
        <li><a href="/properties">{{ 'nav.properties' | t }}</a></li>
        <li><a href="/forum">{{ 'nav.forum' | t }}</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>{{ 'foot.account' | t }}</h5>
      <ul>
        <li><a href="/login">{{ 'nav.login' | t }}</a></li>
        <li><a href="/register">{{ 'nav.signup' | t }}</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>{{ 'foot.contact' | t }}</h5>
      <p>support&#64;flatbuddy.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ year }} FlatBuddy. {{ 'foot.rights' | t }}</p>
  </div>
</footer>
